body {
     font-family: "Glory";
     background-color: black;
     padding: 25px;
     font-size: 22px;
 }

 div#content {
     padding: 8px;
     background-color: lightgrey;
     border: ridge 15px white;
     outline-style: solid;
     outline-color: invert;
     height: auto;
 }

inout[type = "number"] {
  width: 60px;
}

inout[type = "text"] {
  width: 100px;
}

input#max {
  width: 20px;
}

table {
  padding: 20px;
}

input, button {
  font-size: 90%;
}

div#input, div#putput {
 border: sold 1px;
 padding: 20px;
}

#output p {
  margin-top: 0;
  margin-bottom: 0;
}

#output.cols{
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
}

.error {
  color: red;
  font-weight: bold;
}

 a:link{
     background-color: auto;
 }

 a:visited {
   background-color: black;
 }

 a:hover {
     text-decoration: underline;
     background-color: #837A99;
 }

 a:active {
   background-color: black;
 }
