body {
     font-family: "Glory";
     background-color: black;
     padding: 25px;
     font-size: 22px;
 }
  img {
    float: right;
  }

 div#content {
     padding: 8px;
     background-color: lightgrey;
     border: ridge 15px white;
     outline-style: solid;
     outline-color: invert;
     height: auto;
 }

 a:link{
     background-color: auto;
 }

 a:visited {
   background-color: black;
 }

 a:hover {
     text-decoration: underline;
     background-color: #837A99;
 }

 a:active {
   background-color: black;
 }
